# LLM
groq==0.9.0
google-generativeai==0.7.2

# Embeddings + Vector DB
sentence-transformers==3.0.1
chromadb==0.5.3

# Backend
fastapi==0.111.1
uvicorn[standard]==0.30.1
pydantic==2.7.4
python-dotenv==1.0.1

# Frontend
streamlit==1.36.0

# Utilities
httpx==0.27.0
requests==2.32.3
